---
layout:  default
---

<!-- cover -->
<div class="frontcover">
  {% include frontcover.html %}
</div>
  
<!-- frontmatter -->
<div class="halftitlepage">
  {% include halftitlepage.html %}
</div>

<div class="titlepage">
  {% include titlepage.html %}
</div>

<div class="imprint">
  {% include imprint.html %}
</div>

<div class="toc" id="toc-h-1">
  <h1>Table of Contents</h1>

  {% include toc.html %}
</div>

<div class="preface" id="preface-h-1">
  <h1>Preface</h1>
  
  {% include preface.html %}
</div>

<!-- add chapters here -->

{% for chapter in site.chapters %}

  <div class="chapter" id="{{ chapter.ref }}">
    <!-- fix/todo: for chapter 1 use:
       <h1 style="counter-reset: page 1">The Web and HTML</h1>
      -->
     <h1>{{ chapter.title }}</h1>

    {{ chapter.content }}
  </div>

{% endfor %}


<!-- backmatter -->
<div class="index" id="index-h-1">
  <h1>Index</h1>

  {% include index.html %}
</div>
